In [51]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [52]:
# dt=pd.read_excel('Online Retail.xlsx')
data=pd.read_csv("data.csv")

In [53]:
data

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01/12/10 08:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01/12/10 08:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01/12/10 08:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01/12/10 08:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01/12/10 08:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,09/12/11 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,09/12/11 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,09/12/11 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,09/12/11 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,09/12/11 12:50,4.95,12680.0,France

In [54]:
data.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [55]:
data.Description.unique()
data.Description =data.Description.str.strip()

In [56]:
Number_of_items=len(data.Description.unique())
print("Total Number of items :", Number_of_items)

Total Number of items : 4212

In [57]:
data=data.dropna()

In [58]:
data['InvoiceNo'] = data['InvoiceNo'].astype('str')

/home/nandini/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [59]:
data

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01/12/10 08:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01/12/10 08:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01/12/10 08:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01/12/10 08:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01/12/10 08:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,09/12/11 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,09/12/11 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,09/12/11 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,09/12/11 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,09/12/11 12:50,4.95,12680.0,France

In [60]:
df=data.copy()

In [61]:
df = df[~df['InvoiceNo'].str.contains('C')]

In [62]:
df.Country.unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Finland',
       'Austria', 'Greece', 'Singapore', 'Lebanon',
       'United Arab Emirates', 'Israel', 'Saudi Arabia', 'Czech Republic',
       'Canada', 'Unspecified', 'Brazil', 'USA', 'European Community',
       'Bahrain', 'Malta', 'RSA'], dtype=object)

In [63]:
country=df.Country.value_counts()
country

United Kingdom          354345
Germany                   9042
France                    8342
EIRE                      7238
Spain                     2485
Netherlands               2363
Belgium                   2031
Switzerland               1842
Portugal                  1462
Australia                 1185
Norway                    1072
Italy                      758
Channel Islands            748
Finland                    685
Cyprus                     614
Sweden                     451
Austria                    398
Denmark                    380
Poland                     330
Japan                      321
Israel                     248
Unspecified                244
Singapore                  222
Iceland                    182
USA                        179
Canada                     151
Greece                     145
Malta                      112
United Arab Emirates        68
European Community          60
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              25
Bahrain                     17
Saudi Arabia                 9
Name: Country, dtype: int64

In [64]:
# import matplotlib.pyplot as plt
# fig = plt.figure()
# ax = fig.add_axes([0,0,1,1])
# langs = ['C', 'C++', 'Java', 'Python', 'PHP']
# students = [23,17,35,29,12]
# ax.bar(country)
# plt.show()

# country.plot.pie()

In [95]:
# Select country France to do the Further analysis
# 
country_select="France"
country_select="Germany"

data=df[df.Country==country_select].groupby(['InvoiceNo', 'Description'])['Quantity'].sum()

In [96]:
data.shape
print("Number of Orders from",country_select,":",data.shape[0])

Number of Orders from Germany : 9015

In [97]:
data=data.unstack().reset_index().fillna('0')

In [98]:
# data

In [99]:
data.set_index('InvoiceNo').head()

Description,10 COLOUR SPACEBOY PEN,12 COLOURED PARTY BALLOONS,12 IVORY ROSE PEG PLACE SETTINGS,12 MESSAGE CARDS WITH ENVELOPES,12 PENCIL SMALL TUBE WOODLAND,12 PENCILS SMALL TUBE RED RETROSPOT,12 PENCILS SMALL TUBE SKULL,12 PENCILS TALL TUBE POSY,12 PENCILS TALL TUBE RED RETROSPOT,12 PENCILS TALL TUBE SKULLS,...,YULETIDE IMAGES GIFT WRAP SET,ZINC HEART T-LIGHT HOLDER,ZINC STAR T-LIGHT HOLDER,ZINC BOX SIGN HOME,ZINC FOLKART SLEIGH BELLS,ZINC HEART LATTICE T-LIGHT HOLDER,ZINC METAL HEART DECORATION,ZINC T-LIGHT HOLDER STAR LARGE,ZINC T-LIGHT HOLDER STARS SMALL,ZINC WILLIE WINKIE CANDLE STICK
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
536527,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536840,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536861,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536967,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536983,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [100]:
data.columns=data.columns.str.replace(' ','_')

In [101]:

for cl in data.columns:
    data[cl]=data[cl].astype(int)

In [102]:
def onehot(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1
dataset=data.applymap(onehot)
dataset=dataset.set_index('InvoiceNo')

In [103]:
frequent_itemsets= apriori(dataset, min_support=0.1, use_colnames=True)
frequent_itemsets['length Of Frequent Set'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

,support,itemsets,length Of Frequent Set
0,0.102845,(6_RIBBONS_RUSTIC_CHARM),1
1,0.100656,(JUMBO_BAG_WOODLAND_ANIMALS),1
2,0.115974,(PLASTERS_IN_TIN_CIRCUS_PARADE),1
3,0.107221,(PLASTERS_IN_TIN_SPACEBOY),1
4,0.137856,(PLASTERS_IN_TIN_WOODLAND_ANIMALS),1
5,0.818381,(POSTAGE),1
6,0.137856,(REGENCY_CAKESTAND_3_TIER),1
7,0.157549,(ROUND_SNACK_BOXES_SET_OF_4_FRUITS),1
8,0.245077,(ROUND_SNACK_BOXES_SET_OF4_WOODLAND),1
9,0.102845,(SPACEBOY_LUNCH_BOX),1
10,0.126915,(WOODLAND_CHARLOTTE_BAG),1
11,0.100656,"(POSTAGE, PLASTERS_IN_TIN_CIRCUS_PARADE)",2
12,0.100656,"(POSTAGE, PLASTERS_IN_TIN_SPACEBOY)",2
13,0.118162,"(POSTAGE, PLASTERS_IN_TIN_WOODLAND_ANIMALS)",2
14,0.120350,"(POSTAGE, REGENCY_CAKESTAND_3_TIER)",2
15,0.150985,"(POSTAGE, ROUND_SNACK_BOXES_SET_OF_4_FRUITS)",2
16,0.225383,"(POSTAGE, ROUND_SNACK_BOXES_SET_OF4_WOODLAND)",2
17,0.115974,"(POSTAGE, WOODLAND_CHARLOTTE_BAG)",2
18,0.131291,"(ROUND_SNACK_BOXES_SET_OF4_WOODLAND, ROUND_SNA...",2
19,0.124726,"(POSTAGE, ROUND_SNACK_BOXES_SET_OF4_WOODLAND, ...",3

In [104]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1.5)

In [105]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(ROUND_SNACK_BOXES_SET_OF4_WOODLAND),(ROUND_SNACK_BOXES_SET_OF_4_FRUITS),0.245077,0.157549,0.131291,0.535714,3.400298,0.092679,1.814509
1,(ROUND_SNACK_BOXES_SET_OF_4_FRUITS),(ROUND_SNACK_BOXES_SET_OF4_WOODLAND),0.157549,0.245077,0.131291,0.833333,3.400298,0.092679,4.529540
2,"(POSTAGE, ROUND_SNACK_BOXES_SET_OF4_WOODLAND)",(ROUND_SNACK_BOXES_SET_OF_4_FRUITS),0.225383,0.157549,0.124726,0.553398,3.512540,0.089218,1.886357
3,"(POSTAGE, ROUND_SNACK_BOXES_SET_OF_4_FRUITS)",(ROUND_SNACK_BOXES_SET_OF4_WOODLAND),0.150985,0.245077,0.124726,0.826087,3.370730,0.087724,4.340810
4,(ROUND_SNACK_BOXES_SET_OF4_WOODLAND),"(POSTAGE, ROUND_SNACK_BOXES_SET_OF_4_FRUITS)",0.245077,0.150985,0.124726,0.508929,3.370730,0.087724,1.728904
5,(ROUND_SNACK_BOXES_SET_OF_4_FRUITS),"(POSTAGE, ROUND_SNACK_BOXES_SET_OF4_WOODLAND)",0.157549,0.225383,0.124726,0.791667,3.512540,0.089218,3.718162